body {
  margin: 0;
  background: #f5f3ef;
  font-family: 'Avenir','Helvetica Neue','Helvetica','Arial','Hiragino Sans','ヒラギノ角ゴシック',YuGothic,'Yu Gothic','メイリオ', Meiryo,'ＭＳ Ｐゴシック','MS PGothic';
  box-sizing: border-box;
 }

header{
  width: 100%;
  height: 50px;
  background-color: #000000;
  position:fixed;
  z-index:1;
}
header h4{
  color: #fff;
  margin: 0px;
  padding-left: 50px;
  line-height:50px;
  font-size: 20px;
}
/* メール */
.mail-btn{
  display: inline-block;
  color: #fff;
  float: right;
  padding-right: 20px;
}
.mail-btn .mail{
  position: relative;/*相対配置*/
  display: inline-block;
  top: 8px;
  width: 35px;/*幅*/
  height: 35px;/*高さ*/
}
.mail-btn .fa-envelope {/*アイコン*/
  color: #FFF;/*白に*/
  position: relative;/*z-indexを使うため*/
  z-index: 2;/*グラデーションより前に*/
  font-size: 20px;/*アイコンサイズ*/
  line-height: 35px;/*高さと合わせる*/
}
/* インスタ */
.insta_btn {
  display: inline-block;
  text-align: center;/*中央揃え*/
  /* color: #2e6ca5;/*文字色*/ */
  /* font-size: 20px;/*文字サイズ*/ */
  text-decoration: none;/*下線消す*/
  float: right;
  padding-right: 70px;
}

.insta_btn:hover {/*ホバー時*/
  color:#668ad8;/*文字色*/
  transition: .5s;/*ゆっくり変化*/
}

.insta_btn .insta{/*アイコンの背景*/
  position: relative;/*相対配置*/
  display: inline-block;
  top: 8px;
  width: 35px;/*幅*/
  height: 35px;/*高さ*/
  background: -webkit-linear-gradient(135deg, #427eff 0%, #f13f79 70%) no-repeat;
  background: linear-gradient(135deg, #427eff 0%, #f13f79 70%) no-repeat;/*グラデーション①*/
  overflow: hidden;/*はみ出た部分を隠す*/
  border-radius: 13px;/*角丸に*/


}

.insta_btn .insta:before{/*グラデーションを重ねるため*/
  content: '';
  position: absolute;/*絶対配置*/
  top: 23px;/*ずらす*/
  left: -18px;/*ずらす*/
  width: 60px;/*グラデーションカバーの幅*/
  height: 60px;/*グラデーションカバーの高さ*/
  background: -webkit-radial-gradient(#ffdb2c 10%, rgba(255, 105, 34, 0.65) 55%, rgba(255, 88, 96, 0) 70%);
  background: radial-gradient(#ffdb2c 10%, rgba(255, 105, 34, 0.65) 55%, rgba(255, 88, 96, 0) 70%);/*グラデーション②*/
}

.insta_btn .fa-instagram {/*アイコン*/
  color: #FFF;/*白に*/
  position: relative;/*z-indexを使うため*/
  z-index: 2;/*グラデーションより前に*/
  font-size: 25px;/*アイコンサイズ*/
  line-height: 35px;/*高さと合わせる*/
}
/* 問い合わせ */
.apo{
  float: right;
  color: #fff;
  padding-right: 30px;
  line-height: 50px;
}
/* トップ画像 */
.top{
  width: 100%;
  height: 200px;
  background-image: url("img/top 2.png");
  background-size:cover;
  padding-bottom: 50px;
}
/* profile */
.profile{
  width: 25%;
  height: 670px;
  border: 2px solid #000000;
  border-radius:10px;
  margin: -70px 0px 0px 70px;
  text-align: center;
  background-color: #fff;
}
.profile img{
  margin-top: 35px;
  width: 40%;
  border-radius:50%;
}
.profile p{
  margin: 5px 0px;
  color: #BBBBBB;
  font-size: 14px;
}
.profile a{
  text-decoration: none;
}
.pr-btn{
  margin: 10px 0px;
  width: 80%;
  margin: 0 auto;
}
.pr-btn ul{
  list-style: none;
  display: flex;
  /* flex-direction：row; */
  justify-content:space-between;
  padding-left: 0px;
}
.pr-btn li{
  border-radius:20px;
  padding: 5px 30px;
  border: 1px solid #C0C0C0;
  cursor: pointer;
  font-size: 14px;
 font-weight: 600;
}
.blue {
  background-color: #0057ff;
  color: #fff;
}
.blue a{
  color: #fff;
}
.white a{
  color: #000000;
}
.PR {
  text-align:left;
  margin:0 auto;
  width: 80%;
}
.PR p{
  color:#000000;

}
.display{
  display: flex;
  flex-direction：row;
}
.Contents{
margin:30px 0px 0px 50px;
width: 60%;

}
.Contents-top ul{
  padding:0px;
  list-style: none;
  display: flex;
  flex-direction：row;
}

.Contents-top a{
  /* margin-right: 20px; */
  display: inline-block;
  font-size: 15px;
  font-weight: 700;
  margin: 0 8px;
  color:	#808080;
  text-decoration: none;
}
.Contents-top a:nth-child(4){
  border-bottom: 2px solid #333;
  color: #333;
}

.fa-grin-squint{
  float: right;
  font-size: 100px;
  margin: -60px 80px 0 0;
  color: #99FFCC;
  transform: rotate(20deg);  /* 2D(平面)で回転 */
}
/* 説明 */
.about{
  text-align:center;
}
.about h1{
  font-size:27px;
}
.about h2{
  font-size:23px;
}
.about-content{
  background-color: #b3d4fc;
  border-radius: 10px;
  padding-bottom:30px;
}
.about-content h2{
  padding-top: 30px;
}
/* footer */
.footer {
  position: relative;
  overflow: hidden;
  /* margin: 10% 0; */
  padding: 100px 0;
}

.contents_inner {
  box-sizing: boder-box;
  width: 100%;
  max-width:90%;
  height: 100%;
  margin: 0 auto;
  padding: 100px 10px 120px;
  color: #fff;
  /* text-align: center; */
}
.contents_inner ul{
  list-style: none;
  padding: 0px;
}
.contents_inner a{
  text-decoration: none;
  color: #fff;
}
.contents_inner li{
  margin: 10px 10px;
  display: inline-block;

}
.contents_inner li:hover{
  border-bottom:  1px solid #fff;
}
.footer:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 200%;
  height: 80%;
  margin: 2% -10% 0;
  background: #011931;
  -webkit-transform-origin: right center;
  -ms-transform-origin: right center;
  transform-origin: right center;
  -webkit-transform: rotate(-4deg);
  -ms-transform: rotate(-4deg);
  transform: rotate(-4deg);
  z-index: -1;
}
.contents_inner h1{
  float:right;
  margin: 15px 30px 0 0;
  font-size: 45px;
}
.contents_inner p{
  margin-top: 50px;
  padding-bottom: 5px;
  border-bottom: 1px solid #fff;
}
@media (max-width: 670px) {
  header h4{
    padding-left:20px;
  }
 .apo{
   display: none;
 }
 .insta_btn{
   padding:0px 10px;
 }
 .mail-btn{
   padding: 0px;
 }
 .profile{
   display: none;
 }
 .Contents{
   margin-right:10px;
   margin-left:10px;
   width:95%;
 }
 .Contents-top a{
   margin-right: 0px;
 }
 .Comparison a{
   margin-right: 0px;
 }
 .about span{
   display: block;
 }
}

